## US Gun Deaths Data Set

[Original article by FiveThirtyEight about Guns](http://fivethirtyeight.com/features/gun-deaths/)

The data set contains cleaned gun-death data from the CDC for 2012-2014.

### Assignment

- Import the csv
- Read it into a list
- Preview the first 5 entries

In [3]:
import csv
with open('guns.csv', newline='') as csvfile:
    f=list(csv.reader(csvfile))
    print (f[:5])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education'], ['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4'], ['5', '2012', '02', 'Suicide', '0', 'M', '31', 'White', '100', 'Other specified', '2']]

### Assignment

- Remove the header row from the list of lists
- Save it to a separate list

In [4]:
header=f[0]
data=f[1:]
print (header)

['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education']

### Assignment

- Count the number of gun deaths by year
    - It may help to do a list comprehension to get the years
    - Iterate over the years with a dictionary to keep count

In [18]:
dc={}
for line in data:
    key=line[1]
    if key in dc.keys():        
        dc[key]=dc[key]+1
    else:
        dc[key]=1
print (dc)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
100793,100794,2014,12,Homicide,0,M,36,Black,100,Home,2,2014-12-01,2014-12-01,2014-12-01
100794,100795,2014,12,Homicide,0,M,19,Black,100,Street,2,2014-12-01,2014-12-01,2014-12-01
100795,100796,2014,12,Homicide,0,M,20,Black,100,Street,2,2014-12-01,2014-12-01,2014-12-01
100796,100797,2014,12,Homicide,0,M,22,Hispanic,260,Street,1,2014-12-01,2014-12-01,2014-12-01
100797,100798,2014,10,Homicide,0,M,43,Black,100,Other unspecified,2,2014-10-01,2014-10-01,2014-10-01

### Assignment

- Import the datetime library
- Create a new list called "dates" with values from the data (set all the day values to 1)    
- Count they number of gun deaths by month and year

In [35]:
import datetime as dt
dates=[]
counts={}
for line in data:
    dat=datetime.date(int(line[1]),int(line[2]),1)
    if dat not in dates:
        dates.append(dat)
        counts[dat]=1
    else:
        counts[dat]=counts[dat]+1
#print (dates)
for key in sorted(counts):
    print ("%s : %s" %(key, counts[key]))

2012-01-01 : 2758
2012-02-01 : 2357
2012-03-01 : 2743
2012-04-01 : 2795
2012-05-01 : 2999
2012-06-01 : 2826
2012-07-01 : 3026
2012-08-01 : 2954
2012-09-01 : 2852
2012-10-01 : 2733
2012-11-01 : 2729
2012-12-01 : 2791
2013-01-01 : 2864
2013-02-01 : 2375
2013-03-01 : 2862
2013-04-01 : 2798
2013-05-01 : 2806
2013-06-01 : 2920
2013-07-01 : 3079
2013-08-01 : 2859
2013-09-01 : 2742
2013-10-01 : 2808
2013-11-01 : 2758
2013-12-01 : 2765
2014-01-01 : 2651
2014-02-01 : 2361
2014-03-01 : 2684
2014-04-01 : 2862
2014-05-01 : 2864
2014-06-01 : 2931
2014-07-01 : 2884
2014-08-01 : 2970
2014-09-01 : 2914
2014-10-01 : 2865
2014-11-01 : 2756
2014-12-01 : 2857

### Assignment

- Find the number of gun deaths by Sex
- Find the number of gun deaths by Race
- How does this compare to the overall population in the US?

In [43]:
import pandas as pd
import numpy as np

df=pd.DataFrame(data)
df[:4]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,2012,01,Suicide,0,M,34,Asian/Pacific Islander,100,Home,4,2012-01-01,2012-01-01,2012-01-01
1,2,2012,01,Suicide,0,F,21,White,100,Street,3,2012-01-01,2012-01-01,2012-01-01
2,3,2012,01,Suicide,0,M,60,White,100,Other specified,4,2012-01-01,2012-01-01,2012-01-01
3,4,2012,02,Suicide,0,M,64,White,100,Home,4,2012-02-01,2012-02-01,2012-02-01

### Assignment

- Reuse the data structure counting deaths by race
- Use the dictionary below that has the actual population of each race
- Compute the rates of gun deaths per race per 100,000 people

mapping = {
    "Asian/Pacific Islander": 15159516 + 674625,
    "Native American/Native Alaskan": 3739506,
    "Black": 40250635,
    "Hispanic": 44618105,
    "White": 197318956
}

### Assignment

You may not know this, but over half of all gun deaths are suicide.

- Redo the computation of rates of gun deaths per race per 100,000 people
- This time only count those that are "Homicide"
- How are these different than the previous calculation?